@inject ActivityController ActivityController
@inject IStringLocalizer<ActivityLocales> Localize

<MudDialog DisableSidePadding>
    <TitleContent>
        <MudText Typo="Typo.h5">@Activity.Name</MudText>
    </TitleContent>
    <DialogContent>
        <div style="max-height: calc(100vh - 64px); overflow-y: scroll">
            <MudContainer>
                <MudText Typo="Typo.h5">@Localize["Activity.Dialog.View.Description.Title"]</MudText>
                <MudText Typo="Typo.subtitle1">@InternalDescription</MudText>
                <TasksDialogSection Activity="Activity" />
            </MudContainer>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [Parameter]
    public Activity Activity { get; set; } = null!;

    private string InternalDescription => string.IsNullOrWhiteSpace(Activity.Description) ? Localize["Activity.Dialog.View.Description.Empty"] : Activity.Description;
}
