@inject ActivityController ActivityController
@inject IStringLocalizer<ActivityLocales> Localize

<MudDialog DisableSidePadding="true">
    <DialogContent>
        <div class="mx-8" style="display: flex; flex-direction: column; height: calc(100vh - 64px); margin-top: -12px; margin-bottom: -12px;">
            <MudStack Row Justify="Justify.SpaceBetween" Class="mt-4 mb-8">
                <div>
                    <MudSwitch T="bool" @bind-Checked="_highlight" Label="@Localize["Activity.Dialog.Script.Highlight.Label"]" Color="Color.Primary" />
                    <MudSwitch T="bool" @bind-Checked="_startChevron" Label="@Localize["Activity.Dialog.Script.StartChevron.Label"]" Color="Color.Primary" />
                </div>
                <div>
                    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.PlayArrow" Color="Color.Success" OnClick="LaunchActivity">@Localize["Activity.Dialog.Script.LaunchButton"]</MudButton>
                </div>
            </MudStack>

            <div class="mx-n8" style="flex: 1 1 auto; overflow-y: auto; min-height: 0px;">
                <PowerShellScriptDisplay Class="mx-8 mt-4 mb-12" Activity="Activity" Highlight="_highlight" StartChevron="_startChevron" />
            </div>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter]
    public MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public Activity Activity { get; set; } = null!;

    private bool _highlight = true;
    private bool _startChevron = true;

    protected override void OnInitialized()
    {
        MudDialog.SetTitle(string.Format(Localize["Activity.Dialog.Script.Title"], Activity.Name));
    }

    private async Task LaunchActivity()
    {
        await ActivityController.PromptLaunchActivity(Activity, false);
    }
}
