@using CommunityToolkit.Maui.Storage;

<div style="display: flex;">
    <FluentButton>
        @Label
        <FluentIcon Name="@FluentIcons.Folder" Size="@IconSize.Size16" Slot="start" Color="@Color.Accent" />
    </FluentButton>
    @if (!string.IsNullOrWhiteSpace(FolderPath))
    {
        <code>@FolderPath</code>
    }
</div>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string? FolderPath { get; set; }

    [Parameter]
    public EventCallback<string?> FolderPathChanged { get; set; }

    private string? _error;

    private async Task PickFolder()
    {
        var result = await FolderPicker.PickAsync(CancellationToken.None);

        if (result.IsSuccessful)
        {
            if (!string.IsNullOrWhiteSpace(result.Folder.Path) && Directory.Exists(result.Folder.Path))
            {
                _error = null;
                FolderPath = result.Folder.Path;
                await FolderPathChanged.InvokeAsync(FolderPath);
            }
            else
            {
                _error = "You must choose a valid existing folder.";
            }
        }
        else
        {
            _error = "An error occured while trying to choose a folder.";
            Console.WriteLine(result.Exception);
        }
    }
}
