@using CommunityToolkit.Maui.Storage;

<div>
    <MudStack Row>
        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Folder" Color="Color.Primary">@Label</MudButton>
        @if (!string.IsNullOrWhiteSpace(FolderPath))
        {
            <code>@FolderPath</code>
        }
    </MudStack>
    <ErrorText Error="@_error" />
</div>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string? FolderPath { get; set; }

    [Parameter]
    public EventCallback<string?> FolderPathChanged { get; set; }

    private string? _error;

    private async Task PickFolder()
    {
        var result = await FolderPicker.PickAsync(CancellationToken.None);

        if (result.IsSuccessful)
        {
            if (!string.IsNullOrWhiteSpace(result.Folder.Path) && Directory.Exists(result.Folder.Path))
            {
                _error = null;
                FolderPath = result.Folder.Path;
                await FolderPathChanged.InvokeAsync(FolderPath);
            }
            else
            {
                _error = "You must choose a valid existing folder.";
            }
        }
        else
        {
            _error = "An error occured while trying to choose a folder.";
            Console.WriteLine(result.Exception);
        }
    }
}
