@using System.Management.Automation;
@using FastWorkspace.Domain.Common;
@using FastWorkspace.Domain.Jobs;

@inject IWorkspaceStore WorkspaceStore
@inject IAppConfiguration AppConfiguration
@inject NavigationManager Navigation

@attribute [Route(Routes.ConfigurationPage)]

<main class="ma-16" style="height: 100%;">
    <MudText Typo="Typo.h4" Class="mb-2">Configuration</MudText>

    @if (_firstLaunch)
    {
        @* todo: add a better instruction *@
        <MudText Typo="Typo.subtitle1" Class="mb-4">Welcome to Fast Workspace! Please configure your app before using it.</MudText>
    }

    <MudStack Spacing="4">
        <div>
            <MudText Typo="Typo.h6">Language</MudText>
            <MudRadioGroup @bind-SelectedOption="_language">
                <MudRadio Option="Language.English" Color="Color.Primary">English</MudRadio>
                <MudRadio Option="Language.French" Color="Color.Primary">Français</MudRadio>
            </MudRadioGroup>
        </div>
        <div>
            <MudText Typo="Typo.h6">Theme</MudText>
            <MudRadioGroup @bind-SelectedOption="_theme">
                <MudRadio Option="Theme.Light" Color="Color.Primary">Light</MudRadio>
                <MudRadio Option="Theme.Dark" Color="Color.Primary">Dark</MudRadio>
            </MudRadioGroup>
        </div>
        <div>
            <MudText Typo="Typo.h6">Application Data Folder (required)</MudText>
            <MudText Typo="Typo.body1" Class="mb-2">The application will use the provided folder to save the data (workspaces, ...)</MudText>
            <FolderPickerInput Label="Select a folder" @bind-FolderPath="_fileStorageDirectoryPath" />
        </div>
        <div class="mt-16">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="string.IsNullOrWhiteSpace(_fileStorageDirectoryPath)" OnClick="OnSubmit">Save</MudButton>
            <ErrorText Error="@_error" />
        </div>
    </MudStack>
</main>

@code {
    private bool _firstLaunch;
    private Language _language;
    private Theme _theme;
    private string? _fileStorageDirectoryPath;

    private string? _error;

    protected override void OnInitialized()
    {
        _language = AppConfiguration.GetLanguage();
        _theme = AppConfiguration.GetTheme();
        _fileStorageDirectoryPath = AppConfiguration.GetFileStorageDirectoryPath();
        _firstLaunch = _fileStorageDirectoryPath == null;
    }

    private void OnSubmit()
    {
        if (string.IsNullOrWhiteSpace(_fileStorageDirectoryPath))
        {
            _error = "Please choose a folder for this applications data!";
        }

        if (AppConfiguration.SetFileStorageDirectoryPath(_fileStorageDirectoryPath))
        {
            WorkspaceStore.SetupStore();
            AppConfiguration.SetLanguage(_language);
            AppConfiguration.SetTheme(_theme);
            Navigation.NavigateTo(Routes.HomePage, replace: true);
        }
        else
        {
            _error = "Please choose an existing folder for this applications data!";
        }
    }
}



