@using CommunityToolkit.Maui.Storage;

@inject IStringLocalizer<CommonLocales> Localize

<div>
    <MudStack Row AlignItems="AlignItems.Center" Class="mb-1">
        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Folder" Color="Color.Primary" Size="Size.Small" OnClick="PickFolder">@Label</MudButton>
        @if (!string.IsNullOrWhiteSpace(FolderPath))
        {
            <code style="font-size: 1rem;">@FolderPath</code>
        }
    </MudStack>
    <ErrorText Error="@_error" />
</div>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string? FolderPath { get; set; }

    [Parameter]
    public EventCallback<string?> FolderPathChanged { get; set; }

    private string? _error;

    private async Task PickFolder()
    {
        var result = await FolderPicker.PickAsync(CancellationToken.None);

        if (result.IsSuccessful)
        {
            if (!string.IsNullOrWhiteSpace(result.Folder.Path) && Directory.Exists(result.Folder.Path))
            {
                _error = null;
                FolderPath = result.Folder.Path;
                await FolderPathChanged.InvokeAsync(FolderPath);
            }
            else
            {
                _error = Localize["FolderPickerInput.Error"];
            }
        }
    }
}
